accelerate==1.1.1
aioboto3==13.2.0
aiobotocore==2.15.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aioitertools==0.12.0
aiosignal==1.3.1
annotated-types==0.7.0
anthropic==0.39.0
antlr4-python3-runtime==4.9.3
anyio==4.6.2.post1
anytree==2.12.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
autograd==1.7.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.0
beartype==0.18.5
beautifulsoup4==4.12.3
bleach==6.2.0
boto3==1.35.36
botocore==1.35.36
build==1.2.2.post1
Byaldi==0.0.7
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.18
click==8.1.7
cmake==3.30.5
colorama==0.4.6
coloredlogs==15.0.1
colpali_engine==0.3.4
comm==0.2.2
contourpy==1.3.0
cryptography==43.0.3
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.1.0
debugpy==1.8.8
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diff_gaussian_rasterization @ file:///C:/Users/Admin/Desktop/Meta.zip/ai/ComfyUI/custom_nodes/ComfyUI-3D-Pack/_Pre_Builds/_Build_Wheels/_Wheels_win_py312_torch2.4.0_cu118/diff_gaussian_rasterization-0.0.0-cp312-cp312-win_amd64.whl#sha256=ad3789a932918ccefcec4f6412405a50e6cce5cb4db8fb6eba183141c8ee6834
diffusers==0.31.0
dill==0.3.8
distro==1.9.0
durationpy==0.9
einops==0.8.0
eval_type_backport==0.2.0
executing==2.1.0
fastapi==0.115.5
fastjsonschema==2.20.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.9.0
ftfy==6.3.1
gensim==4.3.3
gevent==24.10.3
gguf==0.10.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
googleapis-common-protos==1.66.0
GPUtil==1.4.0
gpytoolbox==0.3.2
graspologic==3.4.1
graspologic-native==1.2.1
greenlet==3.1.1
grpcio==1.68.0
h11==0.14.0
hatchling==1.25.0
hnswlib==0.8.0
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
hyppo==0.4.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
intel-openmp==2021.4.0
iopath==0.1.10
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
isoduration==20.11.0
jaxtyping==0.2.34
jedi==0.19.2
Jinja2==3.1.4
jiter==0.7.1
jmespath==1.0.1
joblib==1.4.2
json5==0.9.28
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==4.0.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiui @ file:///C:/Users/Admin/Desktop/Meta.zip/ai/ComfyUI/custom_nodes/ComfyUI-3D-Pack/_Pre_Builds/_Build_Wheels/_Wheels_win_py312_torch2.4.0_cu118/kiui-0.2.13-py3-none-any.whl#sha256=bffee352f287d9a2f27780509877527831edca1771d6eb2587941147808a9e5f
kiwisolver==1.4.7
kornia==0.7.4
kornia_rs==0.1.7
kubernetes==31.0.0
langchain==0.3.7
langchain-anthropic==0.3.0
langchain-chroma==0.1.4
langchain-community==0.3.7
langchain-core==0.3.17
langchain-openai==0.2.8
langchain-text-splitters==0.3.2
langsmith==0.1.142
lazy_loader==0.4
lightning-utilities==0.11.8
lightrag-hku==1.0.1
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
matrix-client==0.4.0
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
ml_dtypes==0.5.0
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
mteb==1.6.35
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nano-vectordb==0.0.4.3
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
neo4j==5.26.0
nerfacc==0.5.3
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
nvdiffrast @ file:///C:/Users/Admin/Desktop/Meta.zip/ai/ComfyUI/custom_nodes/ComfyUI-3D-Pack/_Pre_Builds/_Build_Wheels/_Wheels_win_py312_torch2.4.0_cu118/nvdiffrast-0.3.1-py3-none-any.whl#sha256=c3c843efa6df5247b2b26f677cd6dae62e87856b3ce959b3253707255963d86d
oauthlib==3.2.2
objprint==0.2.3
ollama==0.3.3
omegaconf==2.3.0
onnxruntime==1.20.0
open_clip_torch==2.29.0
openai==1.54.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
oracledb==2.5.0
orjson==3.10.11
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pdf2image==1.17.0
peft==0.11.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
plyfile==1.1
pointnet2_ops @ file:///C:/Users/Admin/Desktop/Meta.zip/ai/ComfyUI/custom_nodes/ComfyUI-3D-Pack/_Pre_Builds/_Build_Wheels/_Wheels_win_py312_torch2.4.0_cu118/pointnet2_ops-3.0.0-cp312-cp312-win_amd64.whl#sha256=5161116c109e0c0255d4e1565e16385199dd18c73d04ee2805dc2f3b29a424e8
pooch==1.8.2
portalocker==2.10.1
posthog==3.7.0
POT==0.9.5
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.3
psutil==6.1.0
pure_eval==0.2.3
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
PyGithub==2.5.0
pygltflib==1.16.2
Pygments==2.18.0
pyhocon==0.3.61
PyJWT==2.9.0
PyMatting==1.1.12
PyMCubes==0.1.6
pymeshlab==2023.12.post2
PyNaCl==1.5.0
pynndescent==0.5.13
pyparsing==3.2.0
pypdf==5.1.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytorch-lightning==2.4.0
pytorch-msssim==1.0.0
pytorch3d @ file:///C:/Users/Admin/Desktop/Meta.zip/ai/ComfyUI/custom_nodes/ComfyUI-3D-Pack/_Pre_Builds/_Build_Wheels/_Wheels_win_py312_torch2.4.0_cu118/pytorch3d-0.7.8-cp312-cp312-win_amd64.whl#sha256=dfe335645794a4f3499de96db18245b912548766786d36188529f59b0d104b38
pytrec-eval-terrier==0.5.6
pytz==2024.2
pyvis==0.3.2
pywin32==308
pywinpty==2.0.14
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
regex==2024.11.6
rembg==2.0.59
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
s3transfer==0.10.3
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.3
sentence-transformers==3.3.1
sentencepiece==0.2.0
setuptools==75.3.0
shellingham==1.5.4
simple_knn @ file:///C:/Users/Admin/Desktop/Meta.zip/ai/ComfyUI/custom_nodes/ComfyUI-3D-Pack/_Pre_Builds/_Build_Wheels/_Wheels_win_py312_torch2.4.0_cu118/simple_knn-0.0.0-cp312-cp312-win_amd64.whl#sha256=7443aaf4944194361c8af85bff99f42d4ff8617ab74f6e5aa59aab15aaf9a485
six==1.16.0
slangtorch==1.3.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.6
spandrel==0.4.0
SQLAlchemy==2.0.35
srsly==2.4.8
stack-data==0.6.3
starlette==0.41.2
statsmodels==0.14.4
sympy==1.13.1
tbb==2021.11.0
tenacity==9.0.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
timm==1.0.11
tinycss2==1.4.0
tokenizers==0.20.3
torch==2.4.0+cu118
torch_scatter==2.1.2+pt24cu118
torchaudio==2.4.0+cu118
torchmetrics==1.5.2
torchsde==0.2.6
torchtyping==0.1.5
torchvision==0.19.0+cu118
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
trampoline==0.1.2
transformers==4.46.2
trimesh==4.5.2
trove-classifiers==2024.10.21.16
typeguard==2.13.3
typer==0.13.0
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
umap-learn==0.5.7
uri-template==1.3.0
urllib3==1.26.20
uvicorn==0.32.0
varname==0.13.5
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
websockets==14.1
wheel==0.45.0
widgetsnbextension==4.0.13
wrapt==1.16.0
xatlas==0.0.9
xformers==0.0.27.post2+cu118
xxhash==3.5.0
yarl==1.17.1
zipp==3.20.2
zope.event==5.0
zope.interface==7.1.1
